<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href=" {{ url_for('static', path='/img/favicon.pns') }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    後台管理系統
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', path='/css/paper-dashboard.css?v=2.0.1') }}" rel="stylesheet" />

  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{{ url_for('static', path='/demo/demo.css') }}" rel="stylesheet" />
  <style>
    .rwd-16by9 {
      display: block;
      position: relative;
      overflow: hidden;
      height: 0;
      padding: 0;
      padding-bottom: 56.25%;
    }

    .rwd-16by9 iframe {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }

    .rwd-map {
      display: block;
      position: relative;
      overflow: hidden;
      height: 0;
      padding: 0;
      padding-bottom: 75%;
    }

    .rwd-map iframe {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }

    .form-group b {
      color: #f46e6b;
    }

    .form-group {
      width: 300px
    }
  </style>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="{{ url_for('static', path='/img/logo-small.png') }}">
          </div>
          <!-- <p>CT</p> -->
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
          貝稑逤 老闆
          <!-- <div class="logo-image-big">
            <img src="assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="./dashboard">
              <i class="nc-icon nc-bank"></i>
              <p>產品分析</p>
            </a>
          </li>
          <li>
            <a href="./tables">
              <i class="nc-icon nc-tile-56"></i>
              <p>產品列表</p>
            </a>
          </li>
          <li>
            <a href="./icons">
              <i class="nc-icon nc-diamond"></i>
              <p>分類管理</p>
            </a>
          </li>
          <li>
            <a href="./notifications">
              <i class="nc-icon nc-bell-55"></i>
              <p>訂單管理</p>
            </a>
          </li>
          <li>
            <a href="./map">
              <i class="nc-icon nc-pin-3"></i>
              <p>地點管理</p>
            </a>
          </li>
          <li>
            <a href="">
              <i class="nc-icon nc-single-02"></i>
              <p>使用者管理</p>
            </a>
          </li>

          <a href="">
            <i class="nc-icon nc-spaceship"></i>
            <p>系統管理</p>
          </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">新增產品</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="尋找...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link btn-magnify" href="javascript:;">
                  <i class="nc-icon nc-layout-11"></i>
                  <p>
                    <span class="d-lg-none d-md-block">回到首頁</span>
                  </p>
                </a>
              </li>
              <li class="nav-item btn-rotate dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="nc-icon nc-bell-55"></i>
                  <p>
                    <span class="d-lg-none d-md-block">查看通知</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">最新通知</a>
                  <a class="dropdown-item" href="#">動態消息</a>
                  <a class="dropdown-item" href="#">其他</a>
                </div>
              </li>
              <li class="nav-item">
                          <button onclick="logout()" type="button" class="btn btn-primary">登出</button>
                  <p>
                    <span class="d-lg-none d-md-block">帳戶設定</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <form id="form">
              <div class="form-group">
                <label for="product">產品名稱</label><b>*</b>
                <input type="text" class="form-control" id="product" placeholder="請輸入產品名稱">
              </div>
              <div class="mb-3">
                <label for="image">圖片</label>
                <input type="file" class="form-control-file" id="image">
              </div>
              <div class="form-group">
                <label for="price">價格</label><b>*</b>
                <input type="text" class="form-control" id="price" placeholder="請輸入產品價格" required>
              </div>
              <div class="form-group">
                <label for="class">類別</label><b>*</b>
                <select class="form-control" id="class">
                  <option>所有餐點</option>
                  <option>夢幻吮指回味區</option>
                  <option>綜合炸物經選區</option>
                  <option>新鱻魚漿製品區</option>
                  <option>健康鮮脆蔬菜區</option>
                  <option>心滿意足甜食區</option>
                </select>
              </div>
              <div class="form-group">
                <label for="hot">熱門</label><b>*</b><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="hot1" value="true">
                  <label class="form-check-label  pl-1" for="hot1">是</label>
                </div>
                <div class="form-check form-check-inline ml-5">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="hot0" value="false">
                  <label class="form-check-label  pl-1" for="hot0">否</label>
                </div>
              </div>
              <button id="#CreatePoduct" type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li><a href="https://belusa.web.app/" target="_blank">回到點餐平台</a></li>
                <li><a
                    href="https://www.facebook.com/%E8%B2%9D%E7%A8%91%E9%80%A4%E9%B9%BD%E9%85%A5%E9%9B%9E%E5%89%B5%E6%84%8F%E7%82%B8%E7%89%A9club-170776109780301/"
                    target="_blank">FB</a></li>
                <li><a href="https://line.me/ti/p/KUQIYFYj8l" target="_blank">Line</a></li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by NKNU
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{{ url_for('static', path='/js/core/jquery.min.js') }}"></script>

  <script src="{{ url_for('static', path='/js/core/popper.min.js') }}"></script>
  <script src="{{ url_for('static', path='/js/core/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', path='/js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="{{ url_for('static', path='/js/plugins/chartjs.min.js') }}"></script>
  <!--  Notifications Plugin    -->
  <script src="{{ url_for('static', path='/js/plugins/bootstrap-notify.js') }}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{{ url_for('static', path='/js/paper-dashboard.min.js?v=2.0.1') }}" type="text/javascript"></script>
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="{{ url_for('static', path='/demo/demo.js') }}"></script>
  <script>
    $(document).ready(function () {
      demo.initGoogleMaps();
    });
    $("#form").submit(function (e) {
      e.preventDefault()
      submitcreatePoduct()
    })

    function submitcreatePoduct() {
      var inputProduct = $("#product").val().replace(/\s*/g, "");
      var inputImage = $("#image").val();
      var inputPrice = $("#price").val();
      var inputClass = $("#class").val();
      var inputHot = $("input[name='inlineRadioOptions']").val();

      var request_data = `
      {
        "product_name":"${inputProduct}",
        "price":${inputPrice},
        "image":"sasas",
        "category":"${inputClass}",
        "is_hot":${inputHot}
      }
      `;

      if ((inputProduct != "") && (inputPrice != "") && (inputImage != "") && (inputClass != "") && (inputHot != "")) {
        console.log(request_data)
        $.ajax({
          url: '/create/product',
          type: "POST",
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('access_token')  //取得認證token傳回oauth2
          },
          data: request_data,
          dataType: "json",
          contentType: "application/json",
          success: function (data, status) {
            //var redirect_target = function (redirectUrl) {
            alert("新增產品成功")
            window.location.href = "tables"
            //var form = $('<form action="' + redirectUrl + '" method="post"></form>');
            //$('body').append(form);
            //$(form).submit();
            //};
            //redirect_target("/login");
          },
          error: function (textStatus) {
            alert("新增產品失敗");
            console.log(textStatus)
          }
        });
      }
      //console.log(request_data)
    }

  </script>
</body>

</html>